<section>
    <h1>
        <%= link_to institution_path(@institution) do%>
            <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        Editar Instituição
    </h1>
    
    <%= render "institution_form" %>
</section>