<section>
    
    <h1>
        <%= link_to institutions_path do%>
            <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        Nova Instituição
    </h1>

    <%= render "institution_form" %>
</section>