<section>
    <h1>
        <%= link_to student_path(@student) do%>
            <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        Editar Estudante
    </h1>
    
    <%= render "student_form" %>
</section>