<h1>Bem-vindo ao Bilinho!</h1>
<br>
<p>
  O Bilinho é uma plataforma para gerenciar mensalidades de instituições de ensino,
  alunos, matrículas e faturas, tudo de forma simples e eficiente.
</p>
<br>
<p>
  Use o menu ao lado para navegar pelas funcionalidades.
</p>
