<section>
    <h1>
        <%= link_to enrollments_path do%>
            <i class="fa-solid fa-arrow-left"></i>
        <% end %>
        Editar Matrícula
    </h1>

    <%= render "enrollment_form" %>
</section>