/* layout.scss */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

:root{
  --cor-primaria: #D8EFD3;
  --cor-secudaria: #55AD9B;
  --cor-terciaria: #95D2B3;
  --cor-highlight: #F1F8E8;
  --cor-shadow: #366057;
  --dark-text: #313639;
  --warning: #e74c3c;
  --off-white: #f5f5f5;
  --light-grey: #6a6a6a;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--cor-highlight);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
  height: 8vh;
  background-color: var(--cor-secudaria);
  font-weight: bold;
  font-size: 36px;
}

header nav ul{
  margin-left: 60px;
  display: flex;
  align-items: center;
  height: 100%;
}
  
header nav ul li{
  font-size: large;
  color: var(--cor-primaria);
  line-height: 100%;
  margin: 0 20px;
}

header nav ul li {
  transition: transform 0.3s ease;
}

header nav ul li:hover {
  color: var(--cor-shadow);
  transform: translateX(5px);
}

.logo {
  padding: 40px;
  font-size: 24px;
  color: var(--cor-primaria);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 92vh;
  background: var(--cor-terciaria);
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: var(--cor-highlight);
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--cor-shadow);
  border-top: 1px solid var(--cor-primaria);
  transition: .4s;
}

.sidebar ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a.ativo {
  color: var(--dark-text);
  font-weight: bold;
}

.sidebar ul a i {
  margin-right: 16px;
}

.wrapper {
  display: flex;
  height: 92vh;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--cor-secudaria);

}
footer ul li {
  color: var(--cor-terciaria);
  border-bottom: 1px solid --dark-text;
}

footer ul li:hover a {
  color: var(--cor-terciaria);
}

main {
  background-color: var(--cor-primaria);
  flex-grow: 1;
  padding: 0px;
  overflow-y: auto;
  color: var(--dark-text);
}

#error_explanation {
  background: var(--cor-highlight);
  border: 1px solid var(--warning);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 80%;
  margin: 50px;
}

form {
  margin: 20px;
}

form input, form select, form textarea {
  display: inline-block;
  border: 1px solid var(--cor-shadow);
  border-radius: 4px;
  height: 25px;
  width: 200px;
}

form input[type=submit]{
  display: inline-block;
  height: 40px;
  width: 150px;
  padding: 8px 14px;
  margin: 5px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  color: var(--cor-highlight);
  background-color: var(--cor-shadow);
}

form input[type=submit]:hover {
  cursor: pointer;
}


section{
  margin: 20px;
}

.profile {
  display: flex;
  gap: 30px;
  background-color: var(--cor-highlight);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px var(--cor-shadow);
}

.index .profile {
  flex-direction: column;
}

.profile-left {
  flex: 1;
  text-align: center;
  background: var(--off-white);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 1px var(--cor-shadow);
  color: var(--dark-text)
}

.profile-left.disabled-status {
  background-color: var(--light-grey); /* tom avermelhado claro */
  color: var(--cor-highlight);
}

.profile-left img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.profile-left h2 {
  margin: 10px 0 5px;
}

.profile-left p {
  margin: 5px 0;
}

.profile-buttons {
  margin-top: 20px;
}

.profile-buttons .btn {
  display: inline-block;
  padding: 8px 14px;
  margin: 5px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  color: var(--cor-highlight);
  background-color: var(--cor-shadow);
}

.profile-buttons .btn.delete {
  background-color: var(--warning);
}

.profile-right {
  flex: 2;
  background: var(--off-white);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 1px var(--cor-shadow);
  color: var(--dark-text);
}

.profile-right.disabled-status {
  background-color: var(--light-grey); /* tom avermelhado claro */
  color: var(--cor-highlight);
}

.profile-right h3 {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--cor-terciaria);
  padding-bottom: 5px;
}

.profile-right ul {
  list-style: none;
  padding: 0;
}

.profile-right li {
  margin-bottom: 10px;
}

.profile-right li strong {
  display: inline-block;
  width: 120px;
}

.profile-top {
  flex: 1;
  text-align: center;
  background: var(--off-white);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 1px var(--cor-shadow);
}

.profile-top .form-busca {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.profile-bottom {
  flex: 2;
  background: var(--off-white);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 1px var(--cor-shadow);
}

.btn, .btn-danger {
  background-color: var(--cor-shadow);
  color: var(--cor-highlight);
  padding: 5px 12px;
  border-radius: 4px;
  text-decoration: none;
}

.btn-danger {
  background-color: var(--warning);
  color: var(--cor-highlight);
}

table, td, th {
  border-radius: 8px;
  border-collapse: collapse;
  text-align: center;
  height: 30px;
}

td {
  border-bottom: 1px solid var(--cor-terciaria);
}

th {
  background-color: var(--cor-secudaria);
  color: var(--cor-highlight)
}

.autocomplete-results {
  position: absolute;
  width:300px;
  top: 100%;
  left: 120px;
  background-color: var(--cor-primaria);
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  font-family: 'Roboto', sans-serif;
  color: var(--dark-text);
}

.autocomplete-results div {
  padding: 10px 16px;
  width: 300px;
  cursor: pointer;
  border-bottom: 1px solid var(--cor-terciaria);
  transition: background-color 0.3s ease;
}

.autocomplete-results div:last-child {
  border-bottom: none;
}

.autocomplete-results div:hover {
  background-color: var(--cor-secudaria);
  color: var(--cor-highlight);
}